/*modernizer css library*/   /*         license info on github            */
/* 2018 (c) knuxfanwin8*/   /* https://github.com/knuxfanwin8/modernizer */
/*====================*/   /*===========================================*/

@font-face {
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css?family=Open+Sans');
}
html {
    margin: -5px;
    width: 100%;
}
body {
    background-color: #f5f5f5;
    color: #282828;
    /* dark mode (just remove the next comment and the background-color and color values above!)*/
    /*
    background-color: #282828;
    color: #e8e8e8;
    */
    font-family: 'Open Sans', sans-serif !important;
    font-size: 16px;
    width: 100%;
}
div, header, footer, form, section, article {
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
    font-family: 'Open Sans', sans-serif !important;
}
a, p {
    font-family: 'Open Sans', sans-serif !important;
}
a:link {
    color: #1d67c6;
}
a:visited {
    color: #11429e;
}
a:hover {
    color: #297dd1;
}
a:active {
    color: #1d67c6;
}
table {
    margin: 0 auto; 
    width: 95%;
    margin-left:5px;
    overflow-x: hidden;
}
